/* for small devices  */
@media screen and (max-width:576px) {

    /* some shared styles  */
    .btn-primary {
        padding: 10px;
        font-size: .75rem;
    }

    .title {
        font-size: 2rem;
    }

    /* header section starts here  */

    header nav ul {
        display: none;
    }

    header nav h3 {
        font-size: 1.5rem;
    }

    header .hero {
        padding: 20px;
    }

    header .hero h1 {
        font-size: 2.5rem;
    }

    header .hero .position {
        display: none;
    }

    header .hero .one {
        display: block;
        margin-bottom: 20px;
    }

    /* service section starts here  */
    .service .container {
        grid-template-columns: repeat(1, 1fr);
    }

    /* about us section starts here  */
    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about .image {
        align-self: center;
        width: 80%;
    }

    /* event section starts here  */
    .event {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    /* product section starts here  */
    .product .container {
        grid-template-columns: repeat(1, 1fr);
    }

    /* team section starts here  */
    .team .container {
        grid-template-columns: repeat(1, 1fr);
    }

}

/* for medium devices  */
@media screen and (min-width:576px) and (max-width:992px) {

    /* some shared styles  */


    /* header section starts here  */

    header nav ul {
        display: none;
    }

    header .hero {
        padding: 50px 20px;
    }

    header .hero h1 {
        font-size: 3rem;
    }

    header .hero .position {
        display: none;
    }

    header .hero .one {
        margin-bottom: 20px;
    }

    /* service section starts here  */
    .service .container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* about us section starts here  */
    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about .image {
        align-self: center;
    }

    .about .text {
        max-width: 90%;
    }

    /* event section starts here  */
    .event {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    /* product section starts here  */
    .product .container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* team section starts here  */
    .team .container {
        grid-template-columns: repeat(2, 1fr);
    }
}