h1 {
    color: red;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
}

/* Shared styles  */
header,
section {
    max-width: 1480px;
    margin: 50px auto;
    padding: 20px;
}

.btn-primary {
    color: rgb(255, 56, 17);
    font-size: 1.125rem;
    font-weight: 600;
    border: 1px solid rgb(255, 56, 17);
    border-radius: 5px;
    background: transparent;
    padding: 15px 30px;
}

/* header section starts here  */


header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 40px;
}

header .hero {
    border-radius: 10px;

    background: linear-gradient(90.00deg, rgb(21, 21, 21), rgba(21, 21, 21, 0) 100%), url(../images/banner/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px;

}

header .hero .text {
    max-width: 500px;
}

header .hero h1 {
    color: white;
    font-size: 3.75rem;
}

header .hero p {
    color: white;
}

header .hero .one {
    background: rgb(255, 56, 17);
    color: white;
}

header .hero .one {
    color: white;
    border: 1px solid white;
}